@media only screen and (min-width: 360px) and (max-width: 768px) {
	// hacer algo en ese rango de ancho.
    .top > div {
        align-items: center;
        display: grid;
        height: 100%;
        margin: 0 auto;
        max-width: var(--page-width);
        position: relative;
        width: 100%;
        background-color: #ffffff;
      
      }
      .top {
        height: var(--header-height);
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 var(--page-margin);
        z-index: 99;
         
      }
}

.top {
    height: var(--header-height);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 var(--page-margin);
    z-index: 99;
    /*background-color: var(--link-color);*/
    
  }
  @media all and (min-width: 56.25em) {
    .top {
      height: auto;
      max-height: 9.5rem;
    }
  }
  .top > div {
    align-items: center;
    display: grid;
    height: 100%;
    margin: 0 auto;
    max-width: var(--page-width);
    position: relative;
    width: 100%;
  }
  @media all and (max-width: 56.1875em) {
    .top > div {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "logo search menu";
    }
  }
  .top.is-visible {
    align-items: center;
    background: var(--white);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    height: var(--header-height);
    opacity: 1;
    padding: 0 var(--page-margin);
    position: fixed;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: height 0.3s, background 0.3s, opacity 0.24s, -webkit-transform 0.24s;
    transition: height 0.3s, background 0.3s, opacity 0.24s, -webkit-transform 0.24s;
    transition: transform 0.24s, height 0.3s, background 0.3s, opacity 0.24s;
    transition: transform 0.24s, height 0.3s, background 0.3s, opacity 0.24s, -webkit-transform 0.24s;
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  @media all and (min-width: 56.25em) {
    .top.is-visible > div {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "logo menu search";
      margin: 0 auto;
      max-width: var(--page-width);
    }
  }
  .top.is-visible .logo {
    font-size: 1.5rem;
    grid-area: logo;
    padding: 0;
    text-align: left;
  }
  .top.is-visible .navbar {
    text-align: right;
  }
  .top.is-visible .navbar__toggle {
    height: auto;
  }
  .top.is-visible .search__input {
    font-size: 1.4728968807rem;
  }
  .top.is-visible .search__btn {
    position: relative;
    margin-left: 1rem;
    right: 0;
    top: 0;
  }
  .top.is-hidden {
    color: #ffffff;
    opacity: 0;
    -webkit-transform: translate(0, -86px);
            transform: translate(0, -86px);
    -webkit-transition: background 0.3s, color 0.3s, opacity 0.24s, -webkit-transform 0.24s;
    transition: background 0.3s, color 0.3s, opacity 0.24s, -webkit-transform 0.24s;
    transition: transform 0.24s, background 0.3s, color 0.3s, opacity 0.24s;
    transition: transform 0.24s, background 0.3s, color 0.3s, opacity 0.24s, -webkit-transform 0.24s;
  }
 #js-top .navbar .navbar__menu li a,.navbar .navbar__menu li span[aria-haspopup=true]{
    display:block;
    padding:0 .5rem;
    color: #1d185e;
    display: block;
    padding: 0 .5rem;
    -webkit-transition: all .24s ease-out;
    transition: all .24s ease-out;
}
  #js-top.navbar .navbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff  !important;
  }
  .logo {
    color: #000000  !important;
    display: block;
    font-family: var(--logo-font);
    font-size: 1.7875512975rem;
    font-variation-settings: "wght" var(--font-weight-bold);
  }
  @media all and (min-width: 56.25em) {
    .logo {
      font-size: 1.5rem;
      padding: 1.5rem 0 0.75rem;
      text-align: center;
    }
  }
  .logo:hover {
    text-decoration: none;
  }
  .logo:focus {
    outline: none;
  }
  .logo > img {
    height: var(--header-height);
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0.5rem 0;
    width: auto;
  }
  @media all and (min-width: 56.25em) {
    .logo > img {
      height: 5rem;
    }
  }
  
  @media all and (max-width: 56.1875em) {
    .search {
      grid-area: search;
    }
  }
  .search__btn {
    border: none !important;
    background: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin: 0;
    padding: 0.5rem;
    width: auto;
    position: relative;
    right: 0;
  }
  @media all and (min-width: 56.25em) {
    .search__btn {
      padding-right: 0;
      position: absolute;
      top: 40%;
    }
  }
  @media (min-width: 800px) {
    .c-header--centered {
        min-height: calc(100vh - var(--navbar-height) - var(--magic-number) / 2);
    }
     .page--author__box {
        grid-template-columns: 30% 1fr;
    }
    .hero {
      background: var(--hero-bg);
      margin-bottom: var(--grid-gap);
      min-height: 100px;
      position: relative;
      text-align: center;
      /*top: 60px;*/
      z-index: 1;
    }
    .hero__header {
      color: var(--white);
      max-width: var(--page-width);
      padding: 0 var(--page-margin);
      text-align: center;
      width: 100%;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .banner__image {
      margin: 0;
      position: relative;
    }
    .hero__image {
      margin: 0;
      position: relative;
    }
    .hero__image > img {
      min-height: var(--hero-min-height);
    }
    .hero__image > img {
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }
    img.is-loaded {
      opacity: 1;
      transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
  
  }
  .seccion {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.columna {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
.columna-izquierda {
   
}
.columna-derecha {
    
}
@media (max-width: 600px) {
    .columna {
        flex: 100%; /* Cada columna ocupa el 100% en pantallas pequeñas */
    }
}


hero {
    background: var(--hero-bg);
    margin-bottom: var(--grid-gap);
    min-height: var(--hero-min-height);
    position: relative;
    text-align: center;
    top: 0;
    z-index: 1000;
  }
  .hero:after {
    content: " ";
    display: block;
    clear: both;
  }
  @media all and (min-width: 56.25em) {
    .hero {
      margin-top: 12.5rem;
    }
  }
  @media all and (min-width: 56.25em) {
    .hero--narrow {
      left: calc((100% - var(--page-width)) / 2);
      width: var(--page-width);
    }
  }
  .hero--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
  .hero__header {
    color: var(--white);
    max-width: var(--page-width);
    padding: 0 var(--page-margin);
    text-align: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hero__header h1 {
    margin-bottom: 0.5em;
    
  }
  @media all and (min-width: 56.25em) {
    .hero__header {
      max-width: calc(var(--page-width) + 8%);
    }
  }
  .hero__header * {
    color: var(--white);
  }
  .hero__header h1 {
    margin-top: 0.5rem;
  }
  .hero__header a:not(.page__desc a) {
    text-decoration: none;
  }
  .hero__header a:not(.page__desc a):hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
  }
  .hero__image {
    margin: 0;
    position: relative;
  }
  .hero__image::after {
    background: var(--hero-bg);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: var(--hero-opacity);
    position: absolute;
    top: 0;
    width: 100%;
  }
  .hero__image > img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  @media all and (max-width: 56.1875em) {
    .hero__image > img {
      min-height: var(--hero-min-height);
    }
  }
  @media all and (min-width: 56.25em) {
    .hero__image > img {
      height: var(--hero-max-height);
    }
  }
  .hero__image > figcaption {
    background: var(--dark);
    border-radius: var(--border-radius);
    bottom: 4%;
    color: var(--white);
    display: inline-table;
    padding: 0 0.5rem;
    position: absolute;
    right: var(--page-margin);
    text-align: left;
  }
  @media all and (min-width: 56.25em) {
    .hero {
      margin-top: 0.3rem;
    }
  }